<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413364078983-7gvvec15ob8gusot2m32s54efn6j86c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413364078983-7gvvec15ob8gusot2m32s54efn6j86c4</string>
	<key>API_KEY</key>
	<string>AIzaSyA17qaED2lzxQs-TE7OTtvHl99J7TekPfE</string>
	<key>GCM_SENDER_ID</key>
	<string>413364078983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.evillage.khawlafoundation</string>
	<key>PROJECT_ID</key>
	<string>khawla-foundation</string>
	<key>STORAGE_BUCKET</key>
	<string>khawla-foundation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413364078983:ios:eb0f43c5be5f18c96f2b22</string>
	<key>DATABASE_URL</key>
	<string>https://khawla-foundation.firebaseio.com</string>
</dict>
</plist>